.pokedex-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.pokemon-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.pokemon-list-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.pokemon-list-detail {
  flex: 1;
}

.pokemon-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.pokemon-description {
  color: #666;
}

.pokemon-type-icon {
  font-size: 1rem;
  margin-right: 5px;
}

.pokemon-type {
  font-weight: bold;
  color: #007bff;
}

.pokemon-type img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-top: 10px;
}

.pokemon-number {
  font-size: 0.8rem;
  color: #aaa;
}

.p-button {
  margin-left: 10px;
}
